@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
    --grayish-blue: hsl(216, 31%, 62%);
    --dark-grayish-blue: hsl(216, 29%, 38%);
}

img {
    max-width: 100%;
}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    /* background-color: var(--dark-grayish-blue); */
    background-image: url('./images/984389.jpg');
    background-size: cover;
    background-position: center;
    padding: 1.50rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

p {
    font-size: 28px;
    line-height: 1.5;
}

.container {
    background-color: var(--grayish-blue);
    padding: 1.25rem 1.25rem 2rem;
    border-radius: 1rem;
    position: relative;
}

.container h1 {
    color: var(--neon-green);
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-size: 0.825rem;
    margin-bottom: 1rem;
}

.container p {
    margin-bottom: 2rem;
    color: var(--light-cyan);
}

.container picture img {
    background-color: var(--grayish-blue);
    position: relative;
    margin-bottom: 1rem;
}

.container picture::before {
    content: "";
    width: 40%;
    height: 1px;
    background-color: var(--light-cyan);
    right: 1.25rem;
    bottom: 3.8rem;
    position: absolute;
    display: block;
    z-index: 99;
}

.container picture::after {
    content: "";
    width: 45%;
    height: 1px;
    background-color: var(--light-cyan);
    left: 0;
    bottom: 1.7rem;
    position: relative;
    display: block;
}

.container button {
    background-color: hsl(150, 52%, 42%);
    padding: 0.20rem;
    border: none;
    border-radius: 15%;
    transition: background-color 0.1s ease-in-out;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.container button:hover {
    background-color: hsl(152, 100%, 50%);
}

.dice {
    width: 35px;
    height: 35px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 4rem;
    color: var(--light-cyan);
}

.attribution a {
    color: hsl(228, 45%, 44%);
    transition: color 0.1s ease-in-out;
}

.attribution a:hover {
    color: hsl(228, 50%, 62%);
}

@media (min-width: 500px) {
    .container {
        max-width: 480px;
    }
}
