@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
    --grayish-blue: hsl(217, 19%, 38%);
    --dark-grayish-blue: hsl(217, 19%, 24%);
}

img {
    max-width: 100%;
}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    background-color: var(--dark-grayish-blue);
    padding: 1.25rem;
}

.container {
    background-color: var(--grayish-blue);
    padding: 1.25rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

